# Public URL where this API is deployed
BACKEND_DOMAIN=http://localhost:3001
# One or more frontend origins, separated by commas
FRONTEND_DOMAIN=http://localhost:5173
PORT=3001
GROQ_API_KEY=replace_with_your_groq_api_key
GROQ_MODEL=llama-3.3-70b-versatile
